.dataset-loading-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 5;

    background: rgba(147, 147, 147, 0.25);
    backdrop-filter: blur(2px);

    font-family: "VK Sans Display", sans-serif;
    font-weight: bold;
    font-size: 26px;
}

.dataset-page {
    position: relative;
    padding: 80px;
    top: 30px;
    height: auto;
}

.dataset-page__header__settings {
    display: inline-flex;
    flex-wrap: wrap;

    width: 80%;

    font-family: "VK Sans Display", sans-serif;
}

.dataset-page__header {
    display: flex;
}

.setting-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    margin-right: 20px;
}

.settings__header {
    margin-bottom: 10px;

    font-weight: bold;
    font-size: 23px;
}


.settings__input__select#type {
    /*margin-left: 18px;*/
}

.settings__input__datetime#start {
    /*margin-left: 18px;*/
}


.settings__input__select, .settings__input__limit {
    height: 30px;
    width: 200px;
    padding-left: 5px;

    border-style: solid;
    border-radius: 10px;
    border-color: #bcc7da;
    border-width: 2px;
    background: #bcc7da;
    backdrop-filter: blur(10px);

    font-family: "VK Sans Display", sans-serif;
    font-size: 14px;

    cursor: pointer;
    transition: 0.2s;
}

.settings__input__limit {
    width: 100px;
}

.settings__input__select:hover, .settings__input__limit:hover {
    background: #cce3ff;
    box-shadow: inset 0 0 2px #bcc7da,
                inset 0 0 4px #bcc7da,
                inset 0 0 8px #bcc7da;
}

.settings__input__select:focus, .settings__input__limit:focus {
    outline-style: solid;
    outline-width: 0;
}


.settings__input__datetime {
    height: 30px;
    width: 180px;
    padding-left: 10px;

    border-style: solid;
    border-radius: 10px;
    border-color: #bcc7da;
    border-width: 2px;
    background: #bcc7da;
    backdrop-filter: blur(10px);

    font-family: "VK Sans Display", sans-serif;
    font-size: 17px;

    cursor: pointer;
    transition: 0.2s;
}

.settings__input__datetime:hover {
    background: #cce3ff;
    box-shadow: inset 0 0 2px #bcc7da,
                inset 0 0 4px #bcc7da,
                inset 0 0 8px #bcc7da;
}

.settings__input__datetime:focus {
    outline-style: solid;
    outline-width: 0;
}

.settings__datetime-block {
    font-weight: bold;
    font-size: 20px;
}


.dataset-page__header__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 20%;
}


.buttons__dataset-button {
    width: 220px;
    height: 30px;

    border-style: hidden;
    border-radius: 12px;
    background: #2455b1;

    font-family: "VK Sans Display", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: whitesmoke;

    cursor: pointer;
    transition: 0.2s;
}

.buttons__dataset-button:hover {
    color: #2455b1;
    background: rgba(36, 85, 177, 0.37);
    box-shadow: inset 0 0 2px rgba(14, 75, 190, 0.77),
                inset 0 0 4px rgba(14, 75, 190, 0.57),
                inset 0 0 8px rgba(14, 75, 190, 0.37),
                inset 0 0 16px rgba(14, 75, 190, 0.17);
}


.dataset-page__preview {
    display: flex;
    flex-direction: column;

    margin-top: 30px;
    height: 530px;
    overflow-y: auto;

    border-style: dashed;
    border-color: rgb(231, 231, 231);
    border-radius: 30px;
    border-width: 1px;

    font-family: "VK Sans Display", sans-serif;
    font-size: 17px;

    transition: 0.1s;
}

.dataset-page__preview:hover {
    border-color: #2455b1;
}

.preview__amount {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;

    font-family: "VK Sans Display", sans-serif;
    font-size: 17px;
}

.preview__window {
    /*display: flex;*/
    /*flex-direction: column;*/

    height: 100%;

    font-family: "VK Sans Display", sans-serif;
    font-size: 17px;
}

.preview__label {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.preview__table {
    display: none;

    border-spacing: 30px 5px;
    margin-top: 30px;
}

.preview__table__header {
    font-family: "VK Sans Display", sans-serif;
    font-size: 19px;
    font-weight: bold;
}

.preview__table__body tr:hover {
    color: gray;
}
