/** {*/
/*    outline: red solid 2px;*/
/*}*/

body {
    background: rgb(231, 231, 231);

    height: 100vh;
    width: 100vw;
    margin: 0;
}

.page-header {
    background: #e6e6e6;
    /*background-color: rgba(25, 25, 25, 0);*/
    display: block;
    /*justify-content: center;*/
    /*align-items: center;*/
    position: fixed;
    backdrop-filter: blur(10px);

    height: 40px;
    border-style: hidden;
    /*border-radius: 100px;*/
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    z-index: 10;

    width: 100%;
    padding-top: 10px;
    margin-right: 20px;
    padding-bottom: 20px;

    box-shadow: 0 2px 4px rgba(78, 78, 78, 0.53);

    font-family: "VK Sans Display", serif;
}

.page-header-navigation {
    display: block;
    /*justify-items: center;*/
    /*align-content: space-between;*/
    /*flex-direction: row;*/

    position: relative;
    bottom: 10px;
    padding: 10px;
    width: 100%;

    font-weight: bold;
    font-size: 20px;
    color: #0e4bbe;
}

.page-header-navigation__menu {
    display: flex;
    position: relative;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    width: 83%;
    left: 220px;

    /*max-width: 1200px;*/
}

.page-header-navigation__menu__link {
    text-align: center;
    display: block;
    position: relative;

    margin-top: 6px;
    padding: 7px;

    text-decoration: none;
    color: inherit;

    cursor: pointer;
    transition: 0.3s;
}

.page-header-navigation__menu__link.active {
    display: flex;

    padding: 7px;
    z-index: 2;

    background: rgba(94, 90, 90, 0.19);
    border-radius: 20px;

    color: #3173ef;

    backdrop-filter: blur(20px);
    pointer-events: none;
    cursor: pointer;
}

.page-header-navigation__menu__link:hover {
    filter: glow(100px);
    --color: rgba(22, 64, 126, 0.6);
    text-shadow: 0 0 5px var(--color),
                0 0 10px var(--color),
                0 0 20px var(--color);
}

.page-header-navigation__menu__link.active:hover {
    text-shadow: none;

    box-shadow: 0 0 2px rgba(22, 64, 126, 0.6);
}

.page-header-navigation__logo {
    display: block;
    position: absolute;
    left: 20px;
    top: 0;
}

.page-header-navigation__logo img {
    height: 70px;

    cursor: pointer;
}

.page-header-navigation__logout-button {
    display: block;
    position: absolute;
    /*top: 20px;*/
    right: 50px;
    top: 17px;
}

.page-header-navigation__logout-button button {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border-style: hidden;
    background: #9a9ab1;

    font-size: 20px;

    cursor: pointer;
    transition: 0.2s;
}

.page-header-navigation__logout-button button:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.82),
                0 0 4px rgba(0, 0, 0, 0.7),
                0 0 8px rgba(0, 0, 0, 0.55),
                0 0 16px rgba(0, 0, 0, 0.3);
}
