.users-page__users-list {
    position: relative;
    padding: 80px;
    top: 30px;
    height: 100%;
}

.users-list__header {
    display: inline-flex;

    width: 90%;

    font-family: "VK Sans Display", serif;
    font-weight: bold;
    font-size: 25px;
}


.users-list__header__id {
    position: absolute;
    left: 165px;
}

.users-list__header__last-time {
    position: absolute;
    left: 430px;
}

.users-list__header__last-status {
    position: absolute;
    left: 720px;
}


.users-list__table {
    row-gap: 30px;

    position: relative;
    width: 100%;
    height: auto;
    top: 20px;

    font-family: "VK Sans Display", serif;
    font-weight: normal;
    font-size: 22px;
}

.users-list__table__element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;

    background: rgba(220, 220, 220, 0.64);
    border-style: solid;
    border-radius: 20px;
    border-color: #0e4bbe;
    border-width: 3px;
    backdrop-filter: blur(10px);
}

.users-list__table__element:hover {
    background: rgba(195, 195, 195, 0.64);
}

.element__status {
    position: relative;
    left: 15px;
}

.element__status.active {
    color: #489100;
}

.element__status.inactive {
    color: brown;
}

.element__user-id {
    position: absolute;
    left: 80px;
}

.element__last-commit {
    position: absolute;
    left: 350px;
}

.element__last-status {
    position: absolute;
    left: 640px;
    max-width: 300px;
}


.element__logs {
    position: absolute;
    right: 150px;
}

.element__logs button {
    padding: 5px;
    width: 100px;

    border-style: hidden;
    border-radius: 12px;
    background: #2455b1;

    font-family: "VK Sans Display", serif;
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke;

    cursor: pointer;
    transition: 0.2s;
}

.element__logs button:hover {
    color: #2455b1;
    background: rgba(36, 85, 177, 0.37);
    box-shadow: inset 0 0 2px rgba(14, 75, 190, 0.77),
                inset 0 0 4px rgba(14, 75, 190, 0.57),
                inset 0 0 8px rgba(14, 75, 190, 0.37),
                inset 0 0 16px rgba(14, 75, 190, 0.17);
}


.element__download-button {
    position: absolute;
    right: 60px;
    top: 8px;
}

.element__download-button button {
    border-style: hidden;
    background: rgba(255, 255, 255, 0);

    font-size: 30px;

    cursor: pointer;
    transition: 0.2s;
}

.element__download-button button:hover {
    color: #0e4bbe;
    text-shadow: 0 0 2px rgba(14, 75, 190, 0.57),
    0 0 4px rgba(14, 75, 190, 0.37),
    0 0 8px rgba(14, 75, 190, 0.17);
}


.element__counter-enable-button {
    position: absolute;
    right: 15px;
    top: 9px
}

.element__counter-enable-button button {
    border-style: hidden;
    background: rgba(255, 255, 255, 0);

    font-size: 20px;

    cursor: pointer;
    transition: 0.2s;
}

.element__counter-enable-button button:hover {
    color: #0e4bbe;
    text-shadow: 0 0 2px rgba(14, 75, 190, 0.57),
                0 0 4px rgba(14, 75, 190, 0.37),
                0 0 8px rgba(14, 75, 190, 0.17);
}