{{ define "imports" }}
<link rel="stylesheet" href="../static/users_page.css">
{{ end }}

{{ define "content" }}
<div class="users-page">
    <div class="users-page__users-list">
        <div class="users-list__header">
            <span class="users-list__header__id">Id</span>
            <span class="users-list__header__last-time">Последний сеанс</span>
            <span class="users-list__header__last-status">Последний статус</span>
        </div>

        <table class="users-list__table">
            <tr class="users-list__table__element" id="6d5a6af613452c97">
                <td class="element__status active"><i class="fa fa-circle" title="Подключен"></i></td>
                <td class="element__user-id">6d5a6af613452c97</td>
                <td class="element__last-commit">3 дня назад</td>
                <td class="element__last-status">Error: ds...</td>
                <td class="element__logs">
                    <button class="logs-button" title="Смотреть логи">Логи</button>
                </td>
                <td class="element__download-button">
                    <button class="download-button" title="Скачать последние 24 часов"><i class="fa fa-download"></i></button>
                </td>
                <td class="element__counter-enable-button">
                    <button class="pause-button" title="Приостановить сбор"><i class="fa fa-pause"></i></button>
                </td>
            </tr>
            <tr class="users-list__table__element" id="6d5a6af613452c27">
                <td class="element__status inactive"><i class="fa fa-circle-o" title="Отключен"></i></td>
                <td class="element__user-id">6d5a6af613452c27</td>
                <td class="element__last-commit">3 дня назад</td>
                <td class="element__last-status">Success!</td>
                <td class="element__logs">
                    <button class="logs-button" title="Смотреть логи">Логи</button>
                </td>
                <td class="element__download-button">
                    <button class="download-button" title="Скачать последние 24 часов"><i class="fa fa-download"></i></button>
                </td>
                <td class="element__counter-enable-button">
                    <button class="pause-button" title="Запустить сбор"><i class="fa fa-play"></i></button>
                </td>
            </tr>
        </table>
    </div>
</div>
{{ end }}
