{{ define "imports" }}
<link rel="stylesheet" href="../static/users_page.css">
{{ end }}

{{ define "content" }}
<div class="users-page">
    <div class="users-page__users-list">
        <div class="users-list__header">
            <span class="users-list__header__id">Id</span>
            <span class="users-list__header__last-time">Последний сеанс</span>
            <span class="users-list__header__last-status">Последний статус</span>
        </div>

        <table class="users-list__table">
            
        </table>
    </div>
</div>

<script type="text/javascript" src="../static/scripts/users_page.js"></script>
{{ end }}
